# Node
node_modules/

# Python
venv/
__pycache__/
*.pyc

# Environment files
.env
.env.*

# Uploads (optional if large)
uploads/

# Database
*.db

# OS
.DS_Store
Thumbs.db

# VS Code (optional)
.vscode/